<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/index.css">

    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/cookie.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button target="#navbar-collapse-01" toggle="collapse" class="navbar-toggle" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand" style="padding: 8px;"><img style="height: 100%;" src="/img/logo-black.png" alt=""></a>
            </div>
            <div id="navbar-collapse-01" class="navbar-collapse collapse"  style="height: 0.8px;">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/products/edit">发布</a></li>
                    <li class="dropdown" id="personal">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">个人中心 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/products">我的出售物品</a></li>
                            <li><a href="/order">我的交易</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/user">当前账号：</a></li>
                            <li><a href="/user/modify">修改我的账号</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">登出</a></li>
                        </ul>
                    </li>
                    <li><a href="signin">登录/注册</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<section>
    404
</section>
</body>
</html>
