<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
    <script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/cookie.js"></script>

    <script>
        $(function() {
            if (getCookie ("username")) {
                $ ("#personal").css ("display", "block");
                $ ("#signin").css ("display", "none");

            }
            else if (!getCookie ("username")) {
                $ ("#personal").css ("display", "none");
                $ ("#signin").css ("display", "block");
            }
            else {
                return "";
            }
        });
    </script>
</head>
<body>
<header>
    <%- include('../header', {username: username}); %>

</header>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-2" style="margin-bottom: 15px;">
                <a onclick="window.history.go(-1);">&lt;返回上一页</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4 col-lg-offset-2 ">
                <div style="max-width: 300px;max-height: 300px;overflow: hidden;">
                    <a ng-href="#!/products/get/{{tradeOrder.product._id}}"><img src=""></a>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4 ">
                <h2>交易订单详情</h2>
                <table class="table" style="max-width: 300px;">
                    <tr>
                        <td>创建时间：</td><td ng-bind="tradeOrder.created"></td>
                    </tr>
                    <tr>
                        <td>订单号：</td><td ng-bind="tradeOrder._id"></td>
                    </tr>
                    <tr>
                        <td>交易状态：</td>
                        <td>
                            <span ng-if="tradeOrder.status=='pending'">等待回复中</span>
                            <span ng-if="tradeOrder.status=='agree'">已同意交易</span>
                            <span ng-if="tradeOrder.status=='cancel'">交易已取消</span>
                            <span ng-if="tradeOrder.status=='finished'">交易已结束</span>
                        </td>
                    </tr>
                    <tr>
                        <td>出售/求购：</td><td ng-bind="tradeOrder.offer_or_get=='offer' ? '出售' : '求购'"></td>
                    </tr>
                    <tr>
                        <td>产品名称：</td><td ng-bind="tradeOrder.product.name"></td>
                    </tr>
                    <tr style="border-bottom: 1px solid #ddd;">
                        <td>产品编号：</td><td ng-bind="tradeOrder.product._id"></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-lg-offset-2">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">发起方资料</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table" style="max-width: 300px;margin: 0 auto;">
                            <tr>
                                <td>用户名：</td><td ng-bind="tradeOrder.creator.username"></td>
                            </tr>
                            <tr>
                                <td>手机号：</td><td ng-bind="tradeOrder.creator.mobile"></td>
                            </tr>
                            <tr>
                                <td>地址：</td><td ng-bind="tradeOrder.creator.address"></td>
                            </tr>
                            <tr>
                                <td>微信号：</td><td ng-bind="tradeOrder.creator.Wechat_ID"></td>
                            </tr>
                            <tr style="border-bottom: 1px solid #ddd;">
                                <td>QQ号：</td><td ng-bind="tradeOrder.creator.QQ_ID"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">接收方资料</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table" style="max-width: 300px;margin: 0 auto;">
                            <tr>
                                <td>用户名：</td><td ng-bind="tradeOrder.receiver.username"></td>
                            </tr>
                            <tr>
                                <td>手机号：</td><td ng-bind="tradeOrder.receiver.mobile"></td>
                            </tr>
                            <tr>
                                <td>地址：</td><td ng-bind="tradeOrder.receiver.address"></td>
                            </tr>
                            <tr>
                                <td>微信号：</td><td ng-bind="tradeOrder.receiver.Wechat_ID"></td>
                            </tr>
                            <tr style="border-bottom: 1px solid #ddd;">
                                <td>QQ号：</td><td ng-bind="tradeOrder.receiver.QQ_ID"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
